@import "variables";
@import "base";
@import "utils";

// COMPONENTS
@import "./components/Header.scss";
@import "./components/aside.scss";
@import "./components/exchangeSelect.scss";
@import "./components/swapForm.scss";
@import "./components/dataTable.scss";
@import "./components/nftItem.scss";
@import "./components/pagination.scss";
@import "./components/dataList.scss";
@import "./components/notification.scss";
@import "./components/modalContainer.scss";
@import "./components/filters.scss";

// PAGES
@import "./pages/dashboard.scss";
@import "./pages/exchange.scss";
@import "./pages/pool.scss";
@import "./pages/swap.scss";
@import "./pages/dao.scss";
@import "./pages/nft.scss";
@import "./pages/nftDetail.scss";
@import "./pages/nftCollection.scss";
@import "./pages/nftUpload.scss";
@import "./pages/bridge.scss";

// LAYOUT
@import "layout";

// DARK VERSION
@import "dark";

.body__container {
  min-height: 100vh;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto 100%;

  &.dark-theme {
    background-image: url(../assets/images/bg.jpg);
    background-color: #101010;
  }
}

.b-label {
  color: #2c2e37;
}

.b-border {
  width: fit-content;
  border: 2px solid #2c2e37;
}
