.swap__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .d-btn {
    margin-top: 2.5rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
  }

  .swap-position {
    color: #6f767e;
    background-color: white;

    .dark-theme & {
      background-color: #272b30;
      border-color: #3c4145;
    }
  }
}

.select-item {
  border: 2px solid #2c2e37;

  .dark-theme & {
    border: 2px solid #2c2e37;
  }
}
